.containerClassName{
  background-color: #262626;
}

.containerClassName img{
  max-width: 400px;
}

.mediaClassName{
    
}

.cropAreaClassName{
  box-shadow: 0 0 0 9999em #262626!important;
  max-width: 15.5em;
  max-height: 15.5em;
  min-height: 15.5em;
  min-width: 15.5em;
}